body.light-mode {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;
  }
  body.dark-mode {
    background-color: #1a1919;
    color: #999;
  }

  h1,
h2,
h3,
h4 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 15px 0;
}


.sc-episode-teaser-play {
  margin-right: 16px;
  min-width: 48px;
}


.sc-episode-teaser-play {
    margin-right: 16px;
    min-width: 48px;
}
.sc-play-button {
    background-color: transparent;
    border: none;
    color: #0f0f0f;
    display: block;
    fill: currentColor;
    padding: 0;
    width: 48px;
}

.sc-play-button svg {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}