header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #333;
    text-shadow: none;
}

header a {
    text-shadow: none;
    background-image: none;
}
.navMenu div {
    float: right;
    margin-left: 30px;
    padding-top: 0px;
    overflow: visible !important;
}
.brand {
    display: block;
    color: #ccc;
    font-size: 1.17rem;
    font-weight: 300;
}

.brand:hover {
    text-decoration: none;
  }
  
  .navMenu {
    display: none;
  }
  
  .navMenu a {
    color: #ddd;
    text-decoration: none;
    font-size: 0.82rem;
    font-weight: 300;
    margin: 0 0 0 15px;
    text-shadow: none;
  }
  
  .navMenu a:hover {
    color: #fff;
    text-decoration: none;
  }

  .light-mode header .brand {
    display: block;
    color: #333;
    font-size: 1.17rem;
    font-weight: 300;
  }


@media (min-width: 576px) {
    nav {
        display: flex;
        justify-content: space-between;
    }
  
    .navMenu {
        display: block;
    }
  }
  